<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link href="/webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen" />
 
<link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
<link rel="icon" href="../public/img/favicon.ico" th:href="@{/img}" />
<script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>

</head>
<body>
<header th:fragment="site-header">

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
	<div>
	   <a class="navbar-brand" href="#">Demo bloak</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			 <li class="active"><a href="index.html" th:href="@{/}">Home</a></li>
			 <li><a href="users/login.html" th:href="@{/users/login}">Login</a></li>
            <li><a href="users/register.html" th:href="@{/users/register}">Register</a></li>
            <li><a href="users/register.html" th:href="@{/users/register}">Register</a></li>
            <li><a href="posts/index.html" th:href="@{/posts}">Posts</a></li>
            <li><a href="posts/create.html" th:href="@{/posts/create}">Create Post</a></li>
            <li><a href="users/index.html" th:href="@{/users}">Users</a></li>
		</ul>
		<div class="navbar-right">
		<ul class="nav navbar-nav navbar-right">
			
			<li><span>Hello, <b>(user)</b></span></li>
            <li><form method="post" th:action="@{/users/logout}">
			<input type="submit" value="Logout"/>
			</form></li>
			
		</ul>
		</div>
	</div>
</div>
</nav>

</header> 
	<div>
		<ul id="messages" th:with="notifyMessages=${session[T(blog.services
          	.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
     	 <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"
           	th:class="${#strings.toLowerCase(msg.type)}">
     	 </li>
      	<span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}">
         </span>

    	</ul>
	</div>
<div class="container">
	<div class="jumbotron">
	<h1>Welcome</h1>
	<p>Welcome to the Spring MVC Blog.</p>
</div>
</div>	

 
 <footer th:fragment="site-footer" class="footer">
      <div class="container">
        &copy; Spring MVC Blog System, 2016
      </div>
 </footer>



    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</body>
</html>